<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side">
    <!-- Botones del sidebar -->
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" (click)="sidenav.close()">
        <mat-icon>dashboard</mat-icon>
        <span>Ciudades</span>
      </a>
      <a mat-list-item routerLink="/perfil" routerLinkActive="active-link" (click)="sidenav.close()">
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Contenido principal -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Dashboard</span>
    </mat-toolbar>
    <!-- Contenido del dashboard -->
    <div class="dashboard-content">
      <div class="cards-container">
        <mat-card class="dashboard-card" *ngFor="let item of citiesItems">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle>{{ item.country.name }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="/assets/hotel.jpg" alt="Photo of city">
          <mat-card-content>
            <p>
              Los mejores hoteles de lujo en <b>{{ item.name }}</b> - {{ item.country.name }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="openDialogHotels(item._id)">Ver hoteles</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
